@CHARSET "UTF-8";
body {
	font-family: arial ;
	padding-top: 50px;
	background-color: #ffffff;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
}

div.info-panel {
	background-color: #eef9f9;
/*	border: 2px inset #004080;
	padding: 10px 10px;
	margin: 20px 20px;*/
}

span.edittable {
	background-color: #fedddd;
}
span.edittable: hover {
	cursor: pointer;
	background-color: blue;
}
div#statusPanel: after {
	content: "";
	clear: both;
	display: table;
}
div#bidInfoPanel {
	display: inline;
	float: left;
}
div#errorPanel {
	display: inline;
	float: right;
	overflow: auto;
	width: 50%;
	height: 75px;
}

div#orderDetails {
	margin: 0px 20px 20px 20px;
	padding: 10px;'
	color: red;
}
div#orderBook {
	margin: 0px 20px 20px 20px;
	padding: 10px;'
	color: black;
}

div.token-order {
	padding: 10px 5px;
	border: black inset 1px;
}

div.token-order-info {
	padding: 5px 20px 5px 20px;
}

div.moving-order-info { /* a sweet deal that has changed */
	padding: 5px 20px 5px 20px;
	border: black inset 1px;
}
div.moving-order-detail { /* a sweet deal changed...  the deal bits */
	font-weight: bold;	
	padding: 5px 10px;
}
div.moving-order-trade { /* a sweet deal that has changed .. one of the trade bits */
	padding: 5x 10px;
}
span.deal-status {
	font-weight: bold;
	color: green;
}
div.deal-description {
	font-weight: normal;
	padding: 0px 5px;
}

div.notification {
	text-align: center;
	color: blue;
}

div.info {
	color: green;
}

div.error {
	color: red;
}

div.dropdown-menu a.dropdown-item {
	display: block;
}

div.token-index-item label {
	font-weight: bold;
}
/***********************************************************/
input[type="checkbox"].openner {
	display: none;
	visibility: hidden;
}
input[type="checkbox"].openner ~ label {
	display: block;
	padding: 0.5em;
	text-align: center;
	border-bottom: 1px solid #CCC;
	color: #666;
}
input[type="checkbox"].openner ~ label:hover {
	color: #000;
}
input[type="checkbox"].openner ~ label::before {
	font-family: Consolas, monaco, monospace;
	font-weight: bold;
	font-size: 15px;
	content: "+";
	vertical-align: text-middle;
	display: inline-block;
	width: 20px;
	height: 20px;
	margin-right: 3px;
	background: radial-gradient(ellipse at center, #CCC 50%, transparent 50%);
}
input[type="checkbox"].openner:checked ~ div.closable {
	display:block;
	visibility: visible;
}
input[type="checkbox"].openner:checked ~ label::before {
	content: "-";
}
div.closable {
	display:none;
	visibility: hidden;
}
