{% extends "layout.html" %}
{% block content %}
	<div class="row">
		<div style="width:80%; margin-left:auto; margin-right: auto;">
			<div id="bidInfoPanel" class="content">
				<div>Gas price <span id="showGasPrice" class='edittable' onmouseover="this.style.cursor='hand'">{{ params.gasPrice }}</span>
					<input id="setGasPrice" style="display:none"/></div>
				<div>Minimum gain <span id="showMinGain" class='edittable' onmouseover="this.style.cursor='hand'">{{ params.minGain }}</span>
					<input id="setMinGain" style="display:none"/></div>
				<div>Maximum gain <span id="showMaxGain" class='edittable' onmouseover="this.style.cursor='hand'">{{ params.maxGain }}</span>
					<input id="setMaxGain" style="display:none"/></div>
			</div>
			<div id="errorPanel" class="content"></div>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-4">
			<input class="openner" type="checkbox" id="tokenLabel" checked>
			<label for="tokenLabel">Tokens</label>
			<div id="tokenIdx" class="content info-panel closable">
				{% if tokens %}
					{% for tok in tokens %}
						<div id="tokDiv{{ tok.name }}">
							<input type="checkbox" id="check{{ tok.name }}" name="search" value="{{ tok.name }}">
							<label for="check{{ tok.name }}">{{ tok.name }}</label>
						</div>
					{% endfor %}
				{% endif %}
			</div>
		</div>
		<div class="col-lg-4">
			<div class="row">
				<input class="openner" type="checkbox" id="orderLabel" checked>
				<label for="orderLabel">Interesting orders</label>
				<div id="orderBook" class="content info-panel"></div>
			</div>
		</div>
		<div class="col-lg-4">
			<input class="openner" type="checkbox" id="detailLabel" checked>
			<label for="detailLabel">Order details</label>
			<div id="orderDetails" class="content info-panel"></div>
		</div>
	</div>
{% endblock %}
{% block scripts %}
	{{super()}}
	<script type="text/javascript">
	</script>
{% endblock %}



