{% extends "bootstrap/base.html" %}
{% block title %}Ether Bender{% endblock %}
{% block styles %}
	{{super()}}
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}">
	<!-- ie8 and lower fixes: -->
    <!--[if lt IE 9]><script src="{{ url_for('static', filename='js/ie8-responsive-file-warning.js') }}></script><![endif]-->
    <script src="{{ url_for('static', filename='js/ie-emulation-modes-warning.js') }}"></script>
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
{% endblock %}
{% block body %}
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.19.2/moment.min.js"></script>
 	<script type="text/javascript" src="{{ url_for('static', filename='js/ed_mappings.js') }}"></script>
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">
            <img src="/static/images/Bender_Headriguez.png"  width="30" height="30" alt="Bent">
          </a>          
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li class="nav-item"><a href="#">Home</a></li>
            <li class="nav-item dropdown">
 			  <a class="nav-link dropdown-toggle" href="http://example.com" id="navDropdownView"
 			  	 data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">View</a>
			  <div class="dropdown-menu" aria-labelledby="navDropdownView">
				<a class="dropdown-item selected" href="#" id="navDropdownViewItemEDSweets">ED sweets</a>
			  </div>
			</li>        
            <li class="nav-item dropdown">
 			  <a class="nav-link dropdown-toggle" href="http://example.com" id="navDropdownServer"
 			  	 data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Server</a>
			  <div class="dropdown-menu" aria-labelledby="navDropdownServer">
				<a class="dropdown-item" href="#" id="navDropdownServerItemStart">Start client and worker</a>
				<a class="dropdown-item" href="#" id="navDropdownServerItemStop">Stop browser client</a>
				<a class="dropdown-item" href="#" id="navDropdownServerItemShutdown">Shutdown worker</a>
				<a class="dropdown-item" href="#" id="navDropdownServerItemPing">Ping (pong)</a>
			  </div>
			</li>
			<li><span id=navItemServerUptime>0:00.0</span></li>      
            <li>
              {% if not session.logged_in %}
				<a href="{% if login_url %}{{ login_url }}{% else %}/login{% endif %}">Login</a>
			  {% else %}
				<a href="{{ url_for('logout') }}">Logout {{ session.logged_in_gid }}</a>
			  {% endif %}      
			</li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>
	<div class="container-fluid">
		<h1>{% if title %}{{ title }}{% else %}Ether Bender{% endif %}</h1>
		{% block content %}{% endblock %}
	</div>
	{% block scripts %}
		{{ super() }}
		<script type="text/javascript" src="{{ url_for('static', filename='js/main.js') }}"></script>
		<script type="text/javascript">
			$(document).ready(function(){
				$('#navDropdownServerItemStart').click(function(e) {
					onServerStartClick();
				});				
				$('#navDropdownServerItemStop').click(function(e) {
					onServerStopClick();
				});				
				$('#navDropdownServerItemShutdown').click(function(e) {
					onServerShutdownClick();
				});				
				$('#navDropdownServerItemPing').click(function(e) {
					onServerPingClick();
				});				
				$('#navDropdownViewItemEDSweets').click(function(e) {
					onViewEDSweetsClick();
				});				
			})
			
						
			function showError(msg, errClass="error", t=10000, type='Unknown Error', src=null) {
				var d = $('<div class="notification ' + errClass + '">' + msg + '</div>')
				$("#errorPanel").append(d)
				if (t > 0) {
					window.setTimeout(function() { $(d).remove(); }, t)
				}
			}
			
			{% with messages = get_flashed_messages(with_categories=true) %}
  			{% if messages %}
				{% for category, message in messages %}
					{% if category == "error" %}
						showError("{{ message }})", "error", 10000, "Error ")
					{% else %}
						showError("{{ message }})", "flash", 10000, "Error ")
      				{% endif %}
    			{% endfor %}
			{% endif %}
		{% endwith %}

		</script>
	{% endblock %}
{% endblock %}

